
# Archivos generados por IDEs
.venv

# Archivo para hacer pruebas
sensores_y_actuadores/pruebas_de_codigo.py

# Archivos de byte en Python
sensores_y_actuadores/__pycache__

# Archivos drawio
Arquitectura-diseño.drawio
Arquitectura-diseño.drawio:Zone.Identifier

# Archivos pendientes de desarrollar
sensores_y_actuadores/microcontrolador.py